html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-color-custom{
  background-color: #FFFFFF!important;
  box-shadow: 0px 1px 1px #f3f1f1;
}


/* ---- Hero Section ------- */

.hero-container{
  max-width: 90%;
  margin: 10px auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh-100px);
}

.hero-big-container{
  margin-top: 100px;
}

.hero-image{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-content > h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;

  width: 100%;
  height: auto;
}

.hero-content > p{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  width: 100%;
  height: auto;
}

.buttons-holder{
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.buttons-holder > input{
  width: 80%;
}

.previewDiv{
  width: 70%;
  box-shadow: 10px 10px 10px lightgray;
  margin: 10px 20px;
  height: auto;
}
.previewDiv > img {
  width: 100%;
  height: 500px;
}

a{
  color:#777777!important;
}

.MuiFab-label{
  color: white!important;
}

.MuiButtonBase-root{
  background-color: #162353!important;
}

.profilePicHolder:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.homepage-container{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 18px;
  display: flex;
}

.sidebar{
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-link{
  margin-bottom: 20px;
  display: flex;
}

.sidebar-link > svg{
  margin-right: 5px;
}

.blogs-container{
  width: 55%;
  height: 100px;
  margin-left : 20px;
}