html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-color-custom{
  background-color: #5952cb!important;
}


/* ---- Hero Section ------- */

.hero-container{
  max-width: 90%;
  margin: 10px auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh-100px);
}

.hero-big-container{
  margin-top: 100px;
}

.hero-image{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-content > h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;

  width: 100%;
  height: auto;
}

.hero-content > p{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  width: 100%;
  height: auto;
}

.buttons-holder{
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.buttons-holder > input{
  width: 80%;
}

.previewDiv{
  width: 70%;
  box-shadow: 10px 10px 10px lightgray;
  margin: 10px 20px;
  height: auto;
}
.previewDiv > img {
  width: 100%;
  height: 500px;
}